absl-py==2.1.0
ace==0.3.3
ace_tools==0.0
addict==2.4.0
aliases==0.6.2
altair==5.3.0
annotated-types==0.7.0
ansicon==1.89.0
anyascii==0.3.2
appdirs==1.4.4
asgiref==3.6.0
asttokens==2.4.1
astunparse==1.6.3
async-generator==1.10
attrs==22.2.0
autocommand==2.2.2
Automat==24.8.1
autopep8==1.5.7
backports.tarfile==1.2.0
basicsr==1.4.2
beautifulsoup4==4.13.3
blessed==1.20.0
blinker==1.7.0
bs4==0.0.2
cachelib==0.9.0
cachetools==5.4.0
category-encoders==2.6.3
certifi==2021.10.8
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.7
chromedriver-autoinstaller==0.6.4
chromedriver-binary==132.0.6823.0.0
cli-exit-tools==1.2.6
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.2
comtypes==1.1.14
constantly==23.10.4
contourpy==1.1.0
contractions==0.1.73
countdown-timer==0.0.3
coverage==5.5
crypto==1.4.1
cryptography==42.0.5
cssselect==1.3.0
cycler==0.11.0
Cython==3.0.11
dacite==1.8.1
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datefinder==0.7.3
DateTime==5.4
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
discordwebhook==1.0.3
distlib==0.3.9
Django==4.1.6
django-manager-utils==3.0.1
django-query-builder==3.0.1
easygui==0.98.3
emoji==2.14.0
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==2.0.1
eyed3==0.9.7
facexlib==0.3.0
fake-headers==1.0.2
fake-useragent==1.5.0
fastjsonschema==2.20.0
fernet==1.0.1
filelock==3.16.1
filetype==1.2.0
filterpy==1.4.5
Flask==3.0.0
Flask-Caching==2.3.0
flatbuffers==24.3.25
fleming==0.7.0
fonttools==4.40.0
fsspec==2024.10.0
future==1.0.0
gast==0.6.0
gensim==4.3.3
gfpgan==1.3.8
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
google-search-results==2.4.2
grpcio==1.66.2
-e git+https://github.com/obsessedcake/gumroad-utils.git@e83e6d499087fb7151bff48e4e83707dca2caadc#egg=gumroad_utils
gunicorn==23.0.0
h11==0.14.0
h5py==3.12.1
html5lib==1.1
htmlmin==0.1.12
huggingface-hub==0.23.4
humanize==4.9.0
hyperlink==21.0.0
idna==3.3
ImageHash==4.3.1
imageio==2.37.0
imbalanced-learn==0.12.3
importlib_metadata==8.4.0
incremental==24.7.2
inflect==7.3.1
inquirer==3.1.3
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.5
itemadapter==0.11.0
itemloaders==1.3.2
itsdangerous==2.1.2
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jedi==0.19.1
Jinja2==3.1.2
jinxed==1.2.0
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kaleido==0.2.1
keras==3.6.0
kiwisolver==1.4.4
lazy_loader==0.4
lib-detect-testenv==2.0.8
libclang==18.1.1
lightgbm==4.5.0
llvmlite==0.41.1
lmdb==1.6.2
loguru==0.7.0
lxml==5.3.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mechanize==0.4.9
missingno==0.5.2
ml-dtypes==0.4.1
more-itertools==10.3.0
mpmath==1.3.0
multimethod==1.12
mysql-connector-python==9.1.0
Naked==0.1.32
namex==0.0.8
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
ngrok==1.2.0
nlp-id==0.1.18.0
nltk==3.9.1
numba==0.58.1
numpy==1.26.4
opencv-python==4.11.0.86
openpyxl==3.0.9
opt_einsum==3.4.0
optree==0.13.0
orjson==3.10.7
outcome==1.2.0
packaging==23.1
pafy==0.5.5
pandas==2.2.2
pandas-profiling==3.2.0
parsel==1.10.0
parso==0.8.4
pathlib3x==2.0.3
patsy==0.5.6
phik==0.12.4
pillow==10.4.0
platformdirs==4.2.2
plotly==5.24.0
plotly-resampler==0.10.0
pmdarima==2.0.4
progress==1.6
progressbar2==3.53.1
prompt_toolkit==3.0.47
Protego==0.4.0
protobuf==4.25.5
psutil==5.9.7
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyaes==1.6.1
pyahocorasick==2.1.0
pyarrow==16.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycaret==3.3.2
pycodestyle==2.7.0
pycparser==2.21
pycryptodome==3.17
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
pydeck==0.9.1
PyDispatcher==2.0.7
pydub==0.25.1
pyfiglet==0.7.5
Pygments==2.17.2
PyMySQL==1.1.1
pyod==2.0.1
pyOpenSSL==25.0.0
pyparsing==3.1.0
pypiwin32==223
PySocks==1.7.1
pystyle==2.9
pytesseract==0.3.13
python-dateutil==2.8.2
python-dotenv==1.0.1
python-editor==1.0.4
python-utils==3.9.1
pytils==0.4.1
pyttsx3==2.90
pytz==2021.1
PyWavelets==1.7.0
pywin32==306
PyYAML==6.0
pyzmq==26.2.0
queuelib==1.7.0
readchar==4.0.5
-e git+https://github.com/xinntao/Real-ESRGAN@a4abfb2979a7bbff3f69f58f58ae324608821e27#egg=realesrgan
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-file==2.1.0
retrying==1.3.4
rich==13.7.1
rpds-py==0.19.0
Sastrawi==1.0.1
schemdraw==0.15
scikit-base==0.7.8
scikit-image==0.25.2
scikit-learn==1.6.0
scikit-plot==0.3.7
scipy==1.13.1
Scrapy==2.12.0
seaborn==0.12.2
selenium==3.141.0
serpapi==0.1.5
service-identity==24.2.0
sh==2.0.6
shellescape==3.8.1
six==1.16.0
sktime==0.26.0
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
stack-data==0.6.3
statsmodels==0.14.2
stdiomask==0.0.6
streamlit==1.36.0
streamlit-pandas-profiling==0.1.3
sympy==1.13.1
tangled-up-in-unicode==0.2.0
tb-nightly==2.20.0a20250409
tbats==1.1.3
tbomb==2.1.2
telegram==0.0.1
tenacity==8.5.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
textsearch==0.0.24
texttable==1.7.0
textvec==3.0
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2025.3.30
tldextract==5.1.3
toml==0.10.2
tomli==2.0.1
tools==0.1.9
toolz==0.12.1
torch==2.0.1
torchvision==0.15.2
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
trio==0.22.0
trio-websocket==0.10.2
tsdownsample==0.1.3
Twisted==24.11.0
typeguard==4.3.0
typing==3.7.4.3
typing_extensions==4.12.2
tzdata==2022.7
ultralytics==8.3.102
ultralytics-thop==2.0.14
urllib3==1.26.6
utils==1.0.1
vboxapi==1.0
virtualenv==20.27.0
visions==0.7.4
w3lib==2.3.1
watchdog==4.0.1
wcwidth==0.2.6
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.1
wget==3.2
whitenoise==6.8.2
widgetsnbextension==4.0.13
win32-setctime==1.1.0
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0
xgboost==2.1.1
XlsxWriter==3.0.2
xxhash==3.5.0
yapf==0.43.0
ydata-profiling==4.9.0
yellowbrick==1.5
youtube-dl==2021.12.17
zipp==3.20.1
zope.interface==6.2
